table {
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    border: 1px solid #F9FCFD;
    text-align: center;
}

.th1{
	width: 150px;
	height: 20px;
	color: white;
	background-color: #94CCE8;
	padding: 10px;
	text-align: left;
}

.name{
	width: 100px;
	background-color: #94CCE8;
	color: white;
}

td{
	background-color: #CDE6F4;
}